<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chatgpt4.0</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/modal.css">
</head>
<body>
<div class="header">
  <div class="block flex flex-between" style="height: 100%">
    <strong>Chatgpt Extra Wallet - Your Guide to Profitable Side Hustles</strong>
    <a href="#block2" class="common-button" style="line-height: normal">Quick start</a>
  </div>
</div>
<div class="main">
  <div class="video-wrapper">
    <video autoplay loop="loop"
           src="./img/12m.mp4"></video>
  </div>
  <div class="block main-wrapper">
    <div class="block1 flex">
      <img src="./img/cta.jpg" alt="" class="cta-img">
      <div class="flex-1 pl-60">
        <div class="block1-title">Hello everyone</div>
        <div class="block1-content">
          I'm Fzj and the product & I'm introducing today is designed to help you earn some extra cash.I'd appreciate
          your assistance in obtaining ChatGpt Plus from Open Ai Company. All you need to do is go to my website, enter
          your credit card information to claim a regular account, and then help me obtain it. As a token of my
          appreciation, I'm offering a compensation of first-$6、second-$7、third-$8、Fourth-$9!
        </div>
        <a href="#block2" class="common-button">Learn more</a>
      </div>
    </div>
    <div class="block2" id="block2">
      <div class="block1-title block2-title text-center">provide the 3.5 account</div>
      <div class="flex">
        <div class="flex-1">
          <div class="block2-content">
            We provide the 3.5 account and all you need to do is pay one dollar to obtain an official account.This offer
            is available for you to access a range of features and services provided by our website.Thank you for
            considering our service.
          </div>
          <a class="common-button get-btn md-trigger get-account" data-modal="modal-2" style="cursor: pointer">get 3.5
            account</a>
        </div>
        <img src="./img/gallery_art1.jpg" alt="" class="gallery_art pl-60">
      </div>
    </div>

    <div class="block3" id="block3">
      <div class="block1-title block3-title text-center">Returning to account 4.0</div>
      <div class="flex">
        <img src="./img/videoImg2.jpg" alt="" class="gallery_art">
       <!-- <img src="./img/girl.jpg" alt="" class="gallery_art">-->
        <div class="flex-1 pl-60">
          <div class="block2-content" style="padding-top: 60px">
            account 4.0 May I please have your 4.0 account, region of use, and card number. We will compensate
            you for your efforts. Thank you kindly.
          </div>
          <div style="text-align: right">
            <a href="javascript:;" class="common-button get-btn md-trigger" data-modal="modal-1">Returning 4.0
              account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="flex">
      <div>
        <div class="text-center block1-title" style="font-size: 45px;color: yellowgreen">not touch on legal issues</div>
        <div class="block2-content" style="margin-top: 50px">It will not violate any legal issues, but it may lower your credit score. We have a
          professional legal team to answer any questions you may have.
        </div>
      </div>
      <img src="./img/transform.jpg" alt="" style="width: 50%;margin-left: 60px">

    </div>

  </div>
  <div class="concat-us">
    <div class="block flex flex-between">
      <div class="title">Chatgpt Extra Wallet</div>
      <div class="flex">
        <div class="label">Concat Us</div>
        <div class="item-concat">email: blogenpredopam1993@outlook.com or ferngan@mail.com</div>
        <!--<div class="item-concat">Git</div>
        <div class="item-concat">Twitter</div>-->
      </div>
      <!--<img src="./img/concat.png" alt="">-->
    </div>
  </div>
</div>
<div class="md-modal md-effect-1" id="modal-1">
  <div class="md-content">
    <h3>Returning 4.0 account</h3>
    <div class="modal-body" style="text-align: center">
      <div class="item-form flex">
        <div class="label"><span class="require">*</span> account</div>
        <div class="item-input"><input type="text" class="accountName"></div>
      </div>
      <div class="item-form flex">
        <div class="label"><span class="require">*</span>Card Number</div>
        <div class="item-input"><input type="text" class="cardNum"></div>
      </div>
      <div class="item-form flex">
        <div class="label"><span class="require">*</span>Login location</div>
        <div class="item-input"><input type="text" class="loginLocation"></div>
      </div>
      <span class="md-close"></span>
      <button class="common-button common-button-close">Submit</button>
      <div class="error-msg">Please confirm if the card number is filled in correctly, as we will be paying you the reward.</div>
      <div class="error-msgTishi">Please confirm if the card number is filled in correctly, as we will be paying you the reward.</div>
    </div>
  </div>
</div>
<div class="md-modal md-effect-1" id="modal-2">
  <div class="md-content">
    <h3>get 3.5 account</h3>
    <div class="modal-body" style="text-align: center">
      <div class="item-form flex" style="justify-content: center;margin-bottom: 10px">
        <div class="label" style="width: 200px"><span class="require"></span> account：</div>
        <div class="item-input account-3 flex-1" style="margin-left: 20px"></div>
      </div>
      <div class="item-form flex" style="justify-content: center">
        <div class="label" style="width: 200px"><span class="require"></span>Password：</div>
        <div class="item-input pwd-3 flex-1" style="margin-left: 20px"></div>
      </div>
      <button class="common-button md-close">Close</button>
      <div class="error-msg35">Please recharge within 24 hours and confirm the receipt in our system. We will pay you the reward.</div>
    </div>
  </div>
</div>
<div class="md-overlay"></div>
<script src="./js/jquery.min.js"></script>
<script src="./js/index.js"></script>
<script src="./js/classis.js"></script>
<script src="./js/modal.js"></script>
<script type="text/javascript">
  $(function () {
    $("video")[0].muted = true
    $("video")[0].play()
  })
</script>
</body>
</html>
