<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI</title>
    <link rel="icon" type="image/png" sizes="32x32" href="image/AI.jpg">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/markdown.min.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<div class="wrapper">
    <div class="left" >
        <div class="new-chat flex">
            <div style="margin-right: 15px">+</div>
            <div id="newChat">New Chat</div>
        </div>
       <!-- <div class="new-chat flex">
            <div style="margin-right: 15px">+</div>
            <div id="chatRecord"></div>
        </div>-->
        <div class="left-bottom">
            <div class="item-btn flex">
                <!--  <img src="image/chat-avatar2.png" alt="">-->
                <span>请文明提问，否则封站</span>
            </div>
            <div class="item-btn flex">
                <!--  <img src="image/chat-avatar2.png" alt="">-->
                <span>gpt-3.5-turbo-0301</span>
            </div>
            <div class="item-btn flex">
            <!--  <img src="image/chat-avatar2.png" alt="">-->
                <span>author@Mr.yang</span>
            </div>
            <div class="item-btn flex">
              <!--  <img src="image/chat-avatar2.png" alt="">-->
                <span>author@Mr.zhang</span>
            </div>
            <div class="item-btn flex">
               <!-- <img src="image/chat-avatar2.png" alt="">-->
               <!-- <span id="disconnectSSE">close</span>-->
                <span>Q:1025753999@qq.com</span>
            </div>
        </div>
    </div>
    <div class="right">
        <div style="margin:0px 0px 150px 0px;">
            <div class="chat-list" id="chat">
            </div>
        </div>
        <div class="input-wrapper">
            <input id="message" type="text"/>
            <div class="send-btn" id="sendMsg">send</div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function setText(text, uuid_str) {
        let content = document.getElementById(uuid_str)
        content.innerHTML = marked(text);
    }

    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }


    window.onload = function () {
        var socket
        let uuid_str = '';
        let text = '';
        let disconnectBtn = document.getElementById("disconnectSSE");
        let messageElement = document.getElementById("message");
        let sendMsgElement = document.getElementById("sendMsg");
        let newChatElement = document.getElementById("newChat");
        let chat = document.getElementById("chat");
        let uid = window.localStorage.getItem("uid");
        if (uid == null || uid == '' || uid == 'null') {
            uid = uuid();
        }
        // 设置本地存储
        window.localStorage.setItem("uid", uid);
        if (typeof (WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        } else {
            console.log("您的浏览器支持WebSocket");
            //实现化WebSocket对象
            //指定要连接的服务器地址与端口建立连接
            //注意ws、wss使用不同的端口。我使用自签名的证书测试，
            //无法使用wss，浏览器打开WebSocket时报错
            //ws对应http、wss对应https。
            socket = new WebSocket("ws://aichatgpt.shopping//websocket/"+uid);
           /* socket = new WebSocket("ws://localhost//websocket/"+uid);*/
            //连接打开事件
            socket.onopen = function () {
                console.log("Socket 已打开");
            };
            //收到消息事件
            socket.onmessage = function (msg) {
                if (msg.data == "[DONE]") {
                    text = '';
                    return;
                }
                let json_data = JSON.parse(msg.data)
                if (json_data.content == null || json_data.content == 'null') {
                    text = '';
                    return;
                }
                if(!json_data.content.match("AI很忙")){
                    text = text + json_data.content;
                }else {
                    text = json_data.content;
                }
                setText(text, uuid_str)
            };
            //连接关闭事件
            socket.onclose = function () {
                console.log("Socket已关闭");
            };
            //发生了错误事件
            socket.onerror = function () {
                alert("服务异常请重试并联系开发者！")
            }
            //窗口关闭时，关闭连接
            window.unload = function () {
                socket.close();
            };
        }
        // 回车事件
        messageElement.onkeydown = function () {

            if (window.event.keyCode === 13) {
                if (!messageElement.value) {
                    return;
                }
                uuid_str = uuid();
                socket.send(messageElement.value);
                //新增问题框
                chat.innerHTML += "<div class=\"item-chat chat-user flex\">"+
                                    "<div class=\"avatar\">User</div>" +
                                      "<div class=\"chat-content\">"
                                       + messageElement.value +
                                   " </div>"+
                               "</div>";
                messageElement.value = null;
                //新增答案框
                chat.innerHTML += "<div class=\"item-chat chatgtp flex\">"+
                    "<div class=\"avatar\">AI</div>" +
                       "<div class=\"chat-content\">"+
                       " <div  id=" + uuid_str + ">"+

                    " <span name='"+uuid_str+"'>|</span></div>"+
                  " </div>"+
                 " </div>"+
                "</div> ";

                $(function (){
                    setInterval(function() {
                        $("span[name='"+uuid_str+"']").animate({
                            opacity: 1
                        }, 600).animate({
                            opacity: 0
                        }, 600);
                    }, 1200);
                });

               /* $("#chatRecord").append("  <div className=\"new-chat flex\">\n" +
                    "                    <div style=\"margin-right: 15px\">+</div>\n" +
                    "                    <div id=\"newChat\">"+messageElement.value+"</div>\n" +
                    "                </div>")
*/
            }
        };
        sendMsgElement.onclick = function () {
            if (!messageElement.value) {
                return;
            }
            uuid_str = uuid();
            socket.send(messageElement.value);
            //新增问题框
            chat.innerHTML += "<div class=\"item-chat chat-user flex\">"+
                "<div class=\"avatar\">User</div>" +
                "<div class=\"chat-content\">"
                + messageElement.value +
                " </div>"+
                "</div>";
            messageElement.value = null;
            //新增答案框
            chat.innerHTML += "<div class=\"item-chat chatgtp flex\">"+
                "<div class=\"avatar\">AI</div>" +
                "<div class=\"chat-content\">"+
                " <div  id=" + uuid_str + ">"+

                " <span name='"+uuid_str+"'>|</span></div>"+
                " </div>"+
                "</div> ";
            $(function (){
                setInterval(function() {
                    $("span[name='"+uuid_str+"']").animate({
                        opacity: 1
                    }, 600).animate({
                        opacity: 0
                    }, 600);
                }, 1200);
            });

        };
        newChatElement.onclick = function () {
            $("#chat").html("");
        };
        disconnectBtn.onclick = function () {
            if (socket) {
                socket.close();
            }
        };

    };
</script>
  <style>
    h1 {
        font-size: 20px;
        padding-right: 20px;
        display: inline-block;
    }

    h1 span {
        width: 20px;
        margin-bottom: -1px;
        height: 2px;
        background: black;
        opacity: 0;
        display: inline-block;
    }
    </style>